body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.container{
    position: relative;
    text-align: center;
    margin: 2% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.mainbox{
    width: 100%;
}

.toolbox{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid blue;
    justify-content: center;
    flex-wrap: wrap;
}

.input_color{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input_color input[type="text"]{
    width: 50%;
    flex-grow: 1;
}

.input_color input[type="color"]{
    flex-grow: 1;
}

.break_flex{
    flex-basis: 100%;
    height: 0;
}

#sample_canvas{
    border: 1px solid black;
}